<header>
  <h3 style="color: white; position: absolute; left: 1%; margin: 5px; top: 0;">
    Codeial
  </h3>
  <ul>
    <% if(locals.user){%>
    <li>
      <a href="/users/profile"><%=user.username%></a>
    </li>
    <!-- <li>
      <%= user.name %>
    </li> -->
    <li>
      <a href="/users/signout">Sign out</a>
    </li>
    <%} else{%>
    <li>
      <a href="/users/signup">Sign up</a>
    </li>
    <li>
      <a href="/users/signin">Sign in</a>
    </li>
    <%}%>
  </ul>
</header>
