<center>
  <!-- <h1 style="margin: 30px; color: white;">codeial</h1> -->
  <section id="main-section">
    <div>
      <p>Welcome to my website!</p>
      <form action="/users/signup">
        <button type="submit">Sign up</button>
      </form>
      <form action="/users/signin">
        <button type="submit">Sign in</button>
      </form>
    </div>
  </section>
  <section id="post-section">
    <form action="/posts/create" method="POST" style="margin: 30px;">
      <textarea
        name="content"
        id=""
        cols="30"
        rows="10"
        placeholder="Enter your text here..."
      ></textarea>
      <button type="submit">Post</button>
    </form>
  </section>
</center>
