<html>
  <head>
    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" href="./css/layout.css" />
  </head>
  <!-- <style>
    body {
      color: white;
      background-color: black;
    }
  </style> -->
  <body>
    <%- include('_header'); %> <%- body %> <%- include('_footer'); %>
  </body>
</html>
