<h1>Welcome to the sign up page!</h1>
<form action="/users/create" method="post">
  <input type="text" name="name" placeholder="name" /> <br />
  <input type="text" name="username" placeholder="username" /> <br />
  <input type="password" name="password" placeholder="password" /> <br />
  <input type="password" name="password1" placeholder="confirm password" />
  <br />
  <button type="submit">Submit</button>
</form>
