<h1>Welcome to the sign in page!</h1>
<form action="/usersignin" method="post">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" />
  <button type="submit">Submit</button>
</form>
